---
import Layout from "../layouts/Layout.astro";
import URILink from "../components/utils/URILink.astro";
import Indent from "../components/utils/Indent.astro";
---

<Layout title="ゃーのホームページ">
  <main>
    <section>
      <h1>Profile:</h1>

      <Indent>
        <h2>Affiliation:</h2>
        <Indent>
          <p>筑波大学 情報学群 情報科学類 (24年入学)</p>
        </Indent>

        <h2>Accounts:</h2>
        <Indent>
          <h3>Twitter:</h3>
          <Indent>
            <URILink text="@reversed_R" uri="https://x.com/reversed_R" />
          </Indent>
          <h3>GitHub:</h3>
          <Indent>
            <URILink text="reversed-R" uri="https://github.com/reversed-R" />
          </Indent>
        </Indent>
      </Indent>
    </section>

    <section>
      <h1>Pages:</h1>
      <Indent>
        <h2>Articles:</h2>
        <Indent>
          <URILink text="articles" uri="articles" />
        </Indent>
      </Indent>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: 10vw;

    @media screen and (768px < width) {
      margin: 1rem;
      display: grid;
      align-items: center;
      justify-items: center;
    }
  }

  section {
    width: 80vw;
    @media screen and (768px < width) {
      width: 50vw;
      padding: 1em;
    }
  }
</style>
