<header>
  <img src="icon.svg" alt="site icon" style="width: 3em;" />
  <a href="/">reversed-r.dev</a>
</header>

<style>
  header {
    padding: 1em;
    display: flex;

    a {
      padding: 0.5em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    a:hover {
      color: var(--hover);
    }
  }
</style>
